body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 30px;
  height: 100vh;
}

#container {
  display: flex;
  width: 50%;
  height: 600px;
  flex-wrap: wrap;
}

#container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-block-1 {
  background-color: rgb(116, 148, 255);
  height: 100px;
  width: 100%;
}

#img-block-1 {
  background-color: rgb(161, 237, 108);
  height: 300px;
  width: 75%;
}

#text-block-2 {
  background-color: rgb(117, 157, 88);
  height: 300px;
  width: 25%;
}

#img-block-2 {
  height: 200px;
  width: 100%;
  background-color: rgb(255, 172, 234);
}
